
nav{
    width: 1420px;
    height: 67px;
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 250px;
    top: 61px;
}
nav h1{
    width: 242px;
    height: 80.1px;
    position: absolute;
    top: 10px;
    left: 19px;
    font-family: "Poppins",sans-serif;
    font-weight: 400;
    font-size: 21px;
    align-self: center;
}
nav ul{
    display: flex;
    flex-direction: row;
    width: 807px;
    height: 52px;
    gap: 12px;
    position: absolute;
    top: 7px;
    left: 630px;
    align-items: center;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    padding-top: 10px;
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 10px;
    text-align: center;
    font-family: "Poppins",sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: black;
}
nav .CV{
    width: 188px;
    height: 52px;
    position: absolute;
    top: 7px;
    left: 1225px;
    border-radius: 5px;
    background-color: #FD6F00;
    color: white;
    border: none;
    cursor: pointer;
    font-family: "Poppins",sans-serif;
    font-weight: 400;
    font-size: 21px;
    text-decoration: none;
    padding-top: 15px;
    padding-left: 32px;
}
nav span{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #000;
    position: absolute;
    left: 1470px;
    cursor: pointer;
}
article{
    position: absolute;
    width: 1470px;
    height: 686.48px;
    top: 248px;
    left: 250px;
}
article h4{
    position: absolute;
    width: 89px;
    height: 36px;
    top: 97px;
    left: 7px;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 3%;
    font-family: "Poppins", sans-serif;
}
article h1{
    width: 230px;
    height: 48px;
    position: absolute;
    top: 139px;
    left: 4px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 3%;
    color: #FD6F00;
}
article .filiere:first-of-type{
    position: absolute;
    width: 703px;
    height: 120px;
    top: 174px;
    left: 4px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 80px;
    line-height: 120%;
    letter-spacing: 3%;
}
article #filiere{
    width: 210px;
    height: 48px;
    position: absolute;
    top: 280px;
    left: 190px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 80px;
    line-height: 120%;
    letter-spacing: 1%;
}
article div{
    width: 487px;
    height: 487px;
    position: absolute;
    top: 120px;
    left: 869px;
    border: 6px solid;
    border-radius: 50%;
}
article div img{
    width: 487px;
    height: 487px;
    border-radius: 50%;
    position: absolute;
    top: -6px;
    left: -6px;
}
article .def{
    width: 698px;
    height: 101px;
    position: absolute;
    top: 417px;
    left: 7px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 21px;
    letter-spacing: 3%;

}
article .hire{
    width: 188px;
    height: 52px;
    position: absolute;
    top: 540px;
    left: 4px;
    color: white;
    background-color: #FD6F00;
    border: none;
    border-radius: 4px 4px 4px 4px;
    cursor: pointer;
    font-family: "Poppins",sans-serif;
    font-weight: 400px;
    font-size: 21px;
}
article .icons{
    display: flex;
    flex-direction: row;
    width: 205px;
    height: 32.42px;
    position: absolute;
    top: 645.52px;
    left: 1000px;
    gap: 16px;
}

article .icons img{
    width: 32.48px;
    height: 32.48px;
    cursor: pointer;
}

article .icons img:last-of-type{
    width: 40px;
    height: 40px;
    cursor: pointer;

}

main{
    width: 1470px;
    height: 675px;
    position: absolute;
    top: 1004px;
    left: 200px;
}

main .aboutme{
    width: 681px;
    height: 675px;
    background: linear-gradient(#FFFFFF,#FF8233);
    background-image: url(image/picture2.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}
main h1{
    width: 330px;
    height: 98px;
    position: absolute;
    top: 55px;
    left: 714px;
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    font-size: 65px;
    line-height: 100%;
    letter-spacing: 3%;
}

main .box p{
    width: 756px;
    height: 101px;
    position: absolute;
    top: 168px;
    left: 714px;
    font-family: "Poppins",sans-serif;
    font-size: 21px;
    font-weight: 400;
}
main .box .competence{
    width: 753px;
    height: 349px;
    position: absolute;
    top: 284px;
    left: 714px;
}
main .box .competence .HTML h1{
    width: 34px;
    height: 36px;
    position: absolute;
    top: 5px;
    left: 5px;
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 3%;
}
main .box .competence .HTML span{
    position: absolute; 
    width: 753px; 
    height: 12px; 
    left: 5px; 
    top: 50px;
    background: #EDECEC;
    border-radius: 6px;
}

main .box .competence .HTML .charge{
    width: 700px;
    height: 12px;
    background-color: #FD6F00;
    border-radius: 6px;
}

main .box .competence .HTML .circleCharge{
    width: 32px;
    height: 32px;
    color: #EDECEC;
    border: 3px solid #FD6F00;
    border-radius: 50%;
    position: absolute;
    top: 43px;
    left: 680px;
}

main .box .competence .JS{
    position: absolute;
    top: 60px;
}
main .box .competence .JS h1{
    width: 199px;
    height: 36px;
    position: absolute;
    top: 26px;
    left: 5px;
    font-family: "Poppins",sans-serif;
    font-size: 24px;
    font-weight: 600;
}

main .box .competence .JS span{
    position: absolute;
    width: 753px; 
    height: 12px; 
    left: 5px; 
    top: 68px;
    background: #EDECEC;
    border-radius: 6px;
    z-index: 0;
}

main .box .competence .JS .chargeJS{
    position: absolute;
    width: 745px;
    height: 12px;
    left: 5px;
    top: 68px;
    left: 5px;
    background: #FD6F00;
    border-radius: 6px;
    z-index: 1;
}

main .box .competence .JS .circleChargeJS{
    position: absolute;
    width: 32px;
    height: 32px;
    color: #EDECEC;
    border: 3px solid #FD6F00;
    border-radius: 50%;
    top: 58px;
    left: 720px;
    z-index: 2;
}

main .box .competence .PHP h1{
    position: absolute;
    width: 199px;
    height: 36px;
    top: 165px;
    left: 5px;
    font-family: "Poppins",sans-serif;
    font-size: 24px;
    font-weight: 600;
}

main .box .competence .PHP span{
    width: 753px;
    height: 12px;
    position: absolute;
    top: 210px;
    left: 5px;
    background-color: #EDECEC;
    border-radius: 50px;
    z-index: 0;
}

main .box .competence .PHP .chargePHP{
    width: 745px;
    height: 12px;
    position: absolute;
    top: 210px;
    left: 5px;
    background-color: #FD6F00;
    border-radius: 50px;
    z-index: 1;
}

main .box .competence .PHP .circleChargePHP{
    width: 32px;
    height: 32px;
    position: absolute;
    color: #EDECEC;
    border: 3px solid #FD6F00;
    border-radius: 50px;
    top: 198px;
    left: 720px;
    z-index: 2;
}

main .box .competence .MySQL h1{
    width: 198px;
    height: 36px;
    position: absolute;
    top: 257px;
    left: 5px;
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 3%;
}

main .box .competence .MySQL span{
    width: 753px;
    height: 12px;
    position: absolute;
    left: 5px;
    top: 300px;
    background-color: #EDECEC;
    border-radius: 50px;
    z-index: 0;
}

main .box .competence .MySQL .chargeMySQL{
    width: 663px;
    height: 12px;
    position: absolute;
    top: 300px;
    left: 5px;
    background-color: #FD6F00;
    border-radius: 50px;
    z-index: 1;
}

main .box .competence .MySQL .circleChargeMySQL{
    width: 32px;
    height: 32px;
    background-color: #EDECEC;
    border-radius: 50%;
    border: 3px solid #FD6F00;
    z-index: 2;
    position: absolute;
    top: 293px;
    left: 660px;
}

aside{
    width: 1413px;
    height: 584px;
    position: absolute;
    top: 1818px;
    left: 250px;
}
aside h1{
    text-align: center;
    font-family: "Poppins",sans-serif;
    width: 292px;
    height: 98px;
    font-weight: 600px;
    font-size: 65px;
    line-height: 100%;
    letter-spacing: 3%;
    position: absolute;
    left: 559px;
}
aside p{
    position: absolute;
    top: 113px;
    left: 293px;
    width: 932px;
    height: 101px;
    font-family: "Poppins",sans-serif;
    font-weight: 400;
    font-size: 21px;
    line-height: 100%;
    letter-spacing: 3%;
    text-align: center;
}
aside .database{
    width: 330px;
    height: 346px;
    position: absolute;
    top: 238px;
    background-color: #EDECEC;
    border-radius: 14px;
}
aside .database img{
    width: 70px;
    height: 70px;
    position: absolute;
    top: 25px;
    left: 18px;
    color: #FD6F00;
}

aside .database h1{
    width: 95px;
    height: 98px;
    position: absolute;
    top: 110px;
    left: 18px;
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 3%;
}

aside .database p{
    position: absolute;
    left: 18px;
    top: 155px;
    width: 290px;
    height: 120px;
    font-family: "Poppins",sans-serif;
    font-weight: 400;
    font-size: 19px;
    letter-spacing: 3%;
    text-align: left;
}

aside .frontend{
    width: 330px;
    height: 346px;
    position: absolute;
    top: 238px;
    left:361px;
    border-radius: 14px;
    background-color: #EDECEC;
}

aside .frontend img{
    width: 70px;
    height: 70px;
    position: absolute;
    top: 25px;
    left: 15px;
}

aside .frontend h1{
    width: 205px;
    height: 98px;
    position: absolute;
    top: 110px;
    left: 12px;
    font-family: "Poppins",sans-serif;
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 3%;
    text-align: left;
}

aside .frontend p{
    width: 290px;
    height: 120px;
    position: absolute;
    top: 155px;
    left: 18px;
    font-family: "Poppins",sans-serif;
    font-weight: 400;
    font-size: 19px;
    letter-spacing: 3%;
    text-align: left;
}

aside .backend{
    width: 330px;
    height: 346px;
    background-color: #EDECEC;
    border-radius: 14px;
    position: absolute;
    top: 238px;
    left: 722px;
}

aside .backend img{
    width: 77px;
    height: 77.47px;
    position: absolute;
    top: 28px;
    left: 15px;
}

aside .backend h1{
    width: 270px;
    height: 150px;
    position: absolute;
    top: 120px;
    left: 15px;
    font-family: "Poppins",sans-serif;
    font-weight: 400;
    font-size: 32px;
    text-align: left;
}

aside .backend p{
    width: 290px;
    height: 120px;
    position:absolute;
    top: 160px;
    left: 15px;
    text-align: left;
    line-height: 100%;
    font-family: "Poppins",sans-serif;
    font-weight: 400;
    font-size: 19px;
}

aside .deploiement{
    width: 330px;
    height: 346px;
    background-color: #EDECEC;
    border-radius: 14px;
    position: absolute;
    top: 238px;
    left: 1083px;
}

aside .deploiement img{
    width: 82px;
    height: 70px;
    position: absolute;
    top: 28px;
    left: 15px;
}
aside .deploiement h1{
    position: absolute;
    top: 115px;
    left: 20px;
    width: 264px;
    height: 48px;
    font-family: "Poppins",sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 3%;
    text-align: left;
}

aside .deploiement p{
    width: 290px;
    height: 120px;
    position: absolute;
    top: 160px;
    left: 18px;
    text-align: left;
    line-height: 100%;
    letter-spacing: 3%;
    font-family: "Poppins",sans-serif;
    font-size: 19px;
    font-weight: 400;
}
.projects{
    width: 1020px;
    height: 1423px;
    position: absolute;
    top: 2500px;
    left: 200px;
}
.projects h1{
    width: 399px;
    height: 98px;
    position: absolute;
    top: 55px;
    left: 620px;
    font-family: "Poppins",sans-serif;
    font-weight: 400;
    font-size: 65px;
}
.projects p{
    width: 921px;
    height: 78px;
    text-align: center;
    position: absolute;
    top: 150px;
    left: 300px;
    font-family: "Poppins",sans-serif;
    font-weight: 400;
    font-size: 21px;
    line-height: 100%;
    letter-spacing: 3%;
}
.projects .project1{
    width: 445px;
    height: 601px;
    position: absolute;
    top: 280px;
    left: 230px;
}
.projects .project1 .img1{
    width: 445px;
    height: 489px;
    background-image: url(image/Projet1.png);
    background-position: center;
    background-size: cover;
    border: 14px;
}
.projects .project1 h1{
    width: 119px;
    height: 29px;
    color: #FD6F00;
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    font-size: 21px;
    position: absolute;
    top: 510px;
    left: 10px;
}
.projects .project1 .description1{
    width: 393px;
    height: 36px;
    position: absolute;
    top: 550px;
    left: 10px;
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    font-size: 27px;
    color: #000;
}
.projects .project2{
    width: 645px;
    height: 601px;
    position: absolute;
    top: 280px;
    left: 780px;
}
.projects .project2 .img2{
    width: 645px;
    height: 489px;
    background-image: url(image/projet2.png);
    background-position: center;
    background-size: cover;
}
.projects .project2 h1{
    width: 119px;
    height: 29px;
    color: #FD6F00;
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    font-size: 21px;
    position: absolute;
    top: 510px;
    left: 10px;
}
.projects .project2 .description2{
    width: 393px;
    height: 36px;
    position: absolute;
    top: 550px;
    left: 10px;
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    font-size: 27px;
    color: #000;
}
#carouselExampleSlidesOnly{
    width: 3385px;
    height: 733px;
    position: absolute;
    top: 3560px;
}
#carouselExampleSlidesOnly h1{
    width: 446px;
    height: 28px;
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    font-size: 65px;
    position: absolute;
    left: 749px;
}

#carouselExampleSlidesOnly #Avis1{
    width: 1087px;
    height: 344px;
    position: absolute;
    top: 286px;
    left: 530px;
    background-color: #EDECEC;
}

#carouselExampleSlidesOnly #Avis1 img{
    width: 235px;
    height: 235px;
    border-radius: 50%;
    position: absolute;
    top: 40px;
    left: 50px;
}
#carouselExampleSlidesOnly #Avis1 p{
    width: 689px;
    height: 146px;
    position: absolute;
    top: 60px;
    left: 350px;
    font-family: "Poppins",sans-serif;
    font-weight: 400;
    font-size: 21px;
    letter-spacing: 2%;
}
#carouselExampleSlidesOnly #Avis1 h1{
    width: 75px;
    height: 36px;
    font-family: "Poppins",sans-serif;
    font-weight: 500;
    font-size: 24px;
    position: absolute;
    top: 180px;
    left: 350px;
}
.contact{
    width: 932px;
    height: 500px;
    position: absolute;
    top: 4200px;
    left: 535px;
}
.contact h1{
    width: 840px;
    height: 98px;
    position: absolute;
    top: 45px;
    left: 90px;
    font-weight: 600;
    font-size: 65px;
    font-family: "Poppins",sans-serif;
    color: black;
}
.contact p{
    width: 932px;
    height: 101px;
    text-align: center;
    position: absolute;
    top: 150px;
    left: 8px;
    font-family: "Poppins",sans-serif;
    font-weight: 400;
    font-size: 21px;
}
.contact form{
    width: 627px;
    height: 75px;
    position: absolute;
    top: 270px;
    left: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.contact form label{
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    font-size: 20px;
}
.contact form input{
    padding: 10px;
    border: 1px solid #FD6F00;
}
.contact form textarea{
    padding: 25px;
    border: 1px solid #FD6F00;
}
.contact button{
    width: 222px;
    height: 75px;
    position: absolute;
    top: 390px;
    left: 290px;
    border-radius: 10px;
    background-color: #FD6F00;
    color: white;
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 5%;

} 